<% provide(:title, 'RCPSP') %>
<h1>Projektplanung mit dem RCPSP</h1>
<p>
Auf dieser Seite werden die Grunddaten zur Durchf체hrung der Projektplanung angepasst und die Optimierung durchgef체hrt: <br> <br>

  <%= link_to "Verwaltung der Mitarbeiter", users_path %><br>

  <br>

  <%= link_to "Verwaltung der Projekte", projects_path %><br>

  <br>

  <%= link_to "Verwaltung der Vorg채nge", procedures_path %><br>
  <%= link_to "Verwaltung der Vorgangsrelationen", procedure_procedures_path %><br>
  <%= link_to "Verwaltung der Ressourcen", resources_path %><br>
  <%= link_to "Einteilung der Vorg채nge zu Ressoucen", procedure_resoures_path %><br>
  <%= link_to "Verwaltung der Perioden", periods_path %><br>
  <br>
  <%= link_to "Einstellen des GAMS-Pfads muss noch gemacht werden!" %>


</p>

<br>


<% if signed_in? %>

    <p>

      Start der Projektplanung

      <%= button_to "Optimiere", :controller => 'rcpsp', :action => 'delete_old_plan', :action => 'optimize' %>
      <%= button_to "Lies die Ergebnisse ein", :controller => 'rcpsp', :action => 'read_optimization_results' %>
      <%= button_to "Lies den Zielfunktionswert ein", :controller => 'rcpsp', :action => 'read_and_show_ofv' %>

    </p>

<% end %>
