<% provide(:title, 'RCPSP') %>
<h1>Projektplanung mit dem RCPSP</h1>

<h2>Verwaltung</h2>

<div class="btn-group btn-lg">
  <%= link_to "Mitarbeiter", users_path, :class => "btn" %>
  <%= link_to "Vorgänge", procedures_path, :class => "btn" %>
  <%= link_to "Vorgangsrelationen", procedure_procedures_path, :class => "btn" %>
  <%= link_to "Ressourcen", resources_path, :class => "btn" %>
  <%= link_to "Vorgang-Ressoucen-Kombination", procedure_resources_path, :class => "btn" %>
</div>

<br>
<p>
  Auf dieser Seite werden die Grunddaten zur Durchführung der Projektplanung angepasst und die Optimierung durchgeführt: <br> <br>
</p>

<% if signed_in? %>

    <div class="row">
      <div class="span5">
    <%= form_for(@project) do |f| %>
        <div class="field">
          <%= f.label :path, "Verzeichnis" %>
          <%= f.text_field :path %>
        </div>
        <div class="actions">
          <%= f.submit 'Verzeichnis aktualisieren', :class => "btn"  %>
        </div>
     </div>

     <div class="span6">
        <div class="field">
          <%= f.label :startdate, "Starttermin" %>
          <%= f.text_field :startdate, :class => "datepicker", :value => @project.startdate.strftime("%d.%m.%Y")    %>
        </div>
        <div class="actions">
          <%= f.submit 'Starttermin aktualisieren', :class => "btn"  %>
        </div>
    <% end %>
    </div>
    </div>

    <div class="row">
      <div class="span5">
    <p>
      <h2>Start der Kapazitätsplanung</h2>
    <table>
      <thead>
      <tr>
      <th><%= link_to "Optimiere Kapazitätsplanung", rcpsp_optimize_path, :class => "btn" %></th>
      </tr>
      </thead>
      </table>
    </p>
      </div>


<div class="span6">
    <p>
      <h2>Start der Kostenplanung</h2>
    <%= form_for(@project) do |f| %>
        <div class="field">
          <%= f.label :deadline, "Deadline-Termin" %>
          <%= f.text_field :deadline, :class => "datepicker", :value => @project.deadline.strftime("%d.%m.%Y")    %>
        </div>
        <div class="actions">
          <%= f.submit 'Deadline aktualisieren', :class => "btn"  %>
        </div>
    <% end %>


    <table>
      <thead>
      <tr>
        <th><%= link_to "Optimiere Kostenplanung", rcpsp_optimize2_path, :class => "btn" %>
        <% end %></th>
      </tr>
      </thead>
    </table>

    </p>
</div>
</div>

<script>
    $('.datepicker').datepicker({
        src:'js/bootstrap-datepicker.de.js',
        language:'de',
        format: 'dd.mm.yyyy'
    });
</script>