<% provide(:title, 'RCPSP') %>
<h1>Projektplanung mit dem RCPSP</h1>

<h2>Verwaltung</h2>
<table>
  <thead>
  <tr>
    <th><%= button_to 'Mitarbeiter', users_path, :class => "button", :method => :get %></th>
    <th><%= button_to "Vorgänge", procedures_path, :class => "button", :method => :get %></th>
    <th><%= button_to "Vorgangsrelationen", procedure_procedures_path, :class => "button", :method => :get %></th>
    <th><%= button_to "Ressourcen", resources_path, :class => "button", :method => :get %></th>
    <th><%= button_to "Vorgang-Ressoucen-Kombination", procedure_resources_path, :class => "button", :method => :get %></th>
  </tr>
  </thead>
</table>

<br>
<p>
  Auf dieser Seite werden die Grunddaten zur Durchführung der Projektplanung angepasst und die Optimierung durchgeführt: <br> <br>
</p>

<% if signed_in? %>


    <%= form_for(@project) do |f| %>
        <div class="field">
          <%= f.label :path, "Verzeichnis" %>
          <%= f.text_field :path %>
        </div>
        <div class="actions">
          <%= f.submit 'Verzeichnis aktualisieren'  %>
        </div>
    <% end %>

    <p>
      <h2>Start der Zeitplanung</h2>
    <table>
      <thead>
      <tr>
      <th><%= button_to "Optimiere Zeitplanung", :controller => 'rcpsps', :action => 'optimize' %></th>
      <th><%= button_to "Lies die Ergebnisse ein", :controller => 'rcpsps', :action => 'read_optimization_results' %></th>
      </tr>
      </thead>
      </table>
    </p>




    <p>
      <h2>Start der Kostenplanung</h2>
    <%= form_for(@project) do |f| %>
        <div class="field">
          <%= f.label :deadline, "Deadline-Termin" %>
          <%= f.date_select :deadline, {:prompt => { :day => 'Wähle einen Tag', :month => 'Wähle einen Monat', :year => 'Wähle ein Jahr' }}, {:class => 'date-select'}    %>
        </div>
        <div class="actions">
          <%= f.submit 'Deadline aktualisieren'  %>
        </div>
    <% end %>


    <table>
      <thead>
      <tr>
        <th><%= button_to "Optimiere Kostenplanung", :controller => 'rcpsps', :action => 'optimize2' %></th>
        <th><%= button_to "Lies die Ergebnisse ein", :controller => 'rcpsps', :action => 'read_optimization_results2' %></th>
      </tr>
      </thead>
    </table>

    </p>



    <% if @objective_function_value!=nil %>
        Die minimale Vorgangsdauer beträgt <strong><%=  @objective_function_value %></strong> Zeiteinheiten  <br> <br>
        <%= button_to 'Ergebnis anzeigen', procedures_path, :class => "button", :method => :get %>
    <% end %>


    <% if @objective_function_value2!=nil %>
        Die Zusatzkosten betragen <strong><%=  @objective_function_value2 %></strong> Geldeinheiten  <br> <br>
        <%= button_to 'Ergebnis anzeigen', resources_path, :class => "button", :method => :get %>
    <% end %>


<% end %>