<% provide(:title, 'RCPSP') %>
<h1>Projektplanung mit dem RCPSP</h1>
<p>
Auf dieser Seite werden die Grunddaten zur Durchführung der Projektplanung angepasst und die Optimierung durchgeführt: <br> <br>

  <%= link_to "Verwaltung der Mitarbeiter", users_path %><br>

  <br>

  <%= link_to "Verwaltung der Vorgänge", procedures_path %><br>
  <%= link_to "Verwaltung der Vorgangsrelationen", procedure_procedures_path %><br>
  <%= link_to "Verwaltung der Ressourcen", resources_path %><br>
  <%= link_to "Einteilung der Vorgänge zu Ressoucen", procedure_resources_path %><br>
  <br>

</p>



<br>


<% if signed_in? %>


    <%= form_for(@project) do |f| %>
        <div class="field">
          <%= f.label :path, "Verzeichnis" %>
          <%= f.text_field :path %>
        </div>
        <div class="actions">
          <%= f.submit 'Verzeichnis aktualisieren'  %>
        </div>
    <% end %>

    <p>
      Start der Zeitplanung
    <table>
      <thead>
      <tr>
      <th><%= button_to "Optimiere Zeitplanung", :controller => 'rcpsps', :action => 'optimize' %></th>
      <th><%= button_to "Lies die Ergebnisse ein", :controller => 'rcpsps', :action => 'read_optimization_results' %></th>
      </tr>
      </thead>
      </table>
    </p>

    <%= form_for(@project) do |f| %>
        <div class="field">
          <%= f.label :deadline, "Deadline-Termin" %>
          <%= f.date_select :deadline %>
        </div>
        <div class="actions">
          <%= f.submit 'Deadline aktualisieren'  %>
        </div>
    <% end %>


    <p>
      Start der Kostenplanung
    <table>
      <thead>
      <tr>
        <th><%= button_to "Optimiere Kostenplanung", :controller => 'rcpsps', :action => 'optimize2' %></th>
        <th><%= button_to "Lies die Ergebnisse ein", :controller => 'rcpsps', :action => 'read_optimization_results2' %></th>
      </tr>
      </thead>
    </table>

    </p>



    <% if @objective_function_value!=nil %>
        Die minimale Vorgangsdauer beträgt <strong><%=  @objective_function_value %></strong> Zeiteinheiten  <br> <br>
        <%= button_to 'Ergebnis anzeigen', procedures_path, :class => "button", :method => :get %>
    <% end %>





<% end %>