<% provide(:title, 'RCPSP') %>
<h1>Projektplanung mit dem RCPSP</h1>
<p>
Auf dieser Seite werden die Grunddaten zur Durchführung der Projektplanung angepasst und die Optimierung durchgeführt: <br> <br>

  <%= link_to "Verwaltung der Mitarbeiter", users_path %><br>

  <br>

  <%= link_to "Verwaltung der Vorgänge", procedures_path %><br>
  <%= link_to "Verwaltung der Vorgangsrelationen", procedure_procedures_path %><br>
  <%= link_to "Verwaltung der Ressourcen", resources_path %><br>
  <%= link_to "Einteilung der Vorgänge zu Ressoucen", procedure_resources_path %><br>
  <%= link_to "Verwaltung der Perioden", periods_path %><br>
  <br>
  <%= link_to "Einstellen des GAMS-Pfads muss noch gemacht werden!" %>


</p>

<br>


<% if signed_in? %>

    <p>

      Start der Projektplanung

      <%= button_to "Optimiere", :controller => 'rcpsps', :action => 'optimize' %>
      <%= button_to "Lies die Ergebnisse ein", :controller => 'rcpsps', :action => 'read_optimization_results' %>

    </p>

    <% if @objective_function_value!=nil %>
        Die minimale Vorgangsdauer beträgt <%=  @objective_function_value %> Zeiteinheiten  <br> <br>
        <%= button_to 'Ergebnis anzeigen', procedures_path, :class => "button", :method => :get %>
    <% end %>

<% end %>
