<% provide(:title, 'Vorgangs-Ressourcen-Kombination') %>
<h1>Vorgangs-Ressourcen-Kombination</h1>


<p>
  <b>Vorgang:</b>
<td><%= procedure = Procedure.find(@procedure_resource.procedure_id)
        procedure.name %></td>
</p>


<p>
  <b>Ressource:</b>
<td><%= resource = Resource.find(@procedure_resource.resource_id)
        resource.name %></td>
</p>

<p>
  <b>Kapazitätsbedarf:</b>
<td><%= @procedure_resource.capa_demand %></td>
</p>

<div class="btn-group btn-lg">
<%= link_to 'Ändern', edit_procedure_resource_path(@procedure_resource), :class => "btn" %>
<%= link_to 'Zurück', procedure_resources_path, :class => "btn" %>
</div>