<%= form_for(@demandsite) do |f| %>
  <% if @demandsite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demandsite.errors.count, "error") %> prohibited this demandsite from being saved:</h2>

      <ul>
      <% @demandsite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Code auswählen' %><br />
    <%= f.collection_select :site_id, Site.all, :id, :codename %>
  </div>
  <div class="field">
    <%= f.label 'Nachfragemenge eingeben' %><br />
    <%= f.text_field :demand_quantity %>
  </div>
  <div class="actions">
    <%= f.submit "Nachfrageort anlegen oder aktualisieren" %>
  </div>
<% end %>
