<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <b>Arbeitszeit pro Woche:</b>
  <%= @user.capacity %>
</p>

<p>
  <b>Zuordnung zum Projekt:</b>
  <%= @user.project_id %>
</p>

<p>
  <b>Rolle im Projekt:</b>
  <%= @user.resource_id %>
</p>

<% if current_user?(@user) %>
    <%= button_to 'Einstellung', edit_user_path(current_user), :class => "button", :method => :get %>
<% end %>

  <%= button_to 'Zurück', users_path, :class => "button", :method => :get %>
