<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <b>Arbeitszeit pro Tag:</b>
  <%= @user.capacity %>
</p>

<p>
  <b>Rolle im Projekt:</b>
  <%= @resource.name%>
</p>

<% if current_user?(@user) %>
    <%= link_to 'Einstellung', edit_user_path(current_user), :class => "btn" %>
<% end %>
<table id="procedures" class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Vorgangsdauer</th>
    <th>FA*</th>
    <th>SA*</th>
    <th>FE*</th>
    <th>SE*</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <% @resource.procedures.each do |procedure| %>
      <tr>
        <td><%= procedure.name %></td>
        <td><%= procedure.prot %></td>
        <td><%= procedure.fa %></td>
        <td><%= procedure.sa %></td>
        <td><%= procedure.fe %></td>
        <td><%= procedure.se %></td>
        <% if current_user.admin? %>
            <td><%= link_to 'Anzeigen', procedure %></td>
            <td><%= link_to 'Ändern', edit_procedure_path(procedure) %></td>
            <td><%= link_to 'Löschen', procedure, method: :delete, data: { confirm: 'Sind sie sicher?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
  <%= link_to 'Zurück', users_path, :class => "btn" %>

<br>

<thead>
*FA=frühester Anfangszeitpunkt, SA=spätester Anfangszeitpunkt, FE=frühester Endzeitpunkt, SE=spätester Endzeitpunkt
</thead>