<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <b>Arbeitszeit pro Woche:</b>
  <%= @user.capacity %>
</p>

<p>
  <b>Rolle im Projekt:</b>
  <%= resource = Resource.find(@user.resource_id)
      resource.name%>
</p>

<% if current_user?(@user) %>
    <%= button_to 'Einstellung', edit_user_path(current_user), :class => "button", :method => :get %>
<% end %>
<table id="procedures" class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Kapazitätsbedarf</th>
    <th>Vorgangsdauer</th>
    <th>FA*</th>
    <th>SA*</th>
    <th>FE*</th>
    <th>SE*</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>


  <%= test = @user.resource_id%>
  <%= test1 = @procedure_resource.resource_id %>

  <% @procedures.find(ProcedureResource.find(@user.resource_id)).each do |procedure| %>
      <tr>
        <td><%= procedure.name %></td>
        <td><%= procedure.kapabe %></td>
        <td><%= procedure.prot %></td>
        <td><%= procedure.fa %></td>
        <td><%= procedure.sa %></td>
        <td><%= procedure.fe %></td>
        <td><%= procedure.se %></td>
        <td><%= link_to 'Anzeigen', procedure %></td>
        <td><%= link_to 'Ändern', edit_procedure_path(procedure) %></td>
        <td><%= link_to 'Löschen', procedure, method: :delete, data: { confirm: 'Sind sie sicher?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
  <%= button_to 'Zurück', users_path, :class => "button", :method => :get %>
