<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <b>Arbeitszeit pro Woche:</b>
  <%= @user.capacity %>
</p>

<% if current_user?(@user) ^ current_user.admin? %>
    <%= button_to 'Einstellung', edit_user_path(@user), :class => "button", :method => :get %>
<% end %>

  <%= button_to 'Zurück', users_path, :class => "button", :method => :get %>
