<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label 'Projektabschlussdatum' %><br />
      <%= f.datetime_select :deadline %>
    </div>
  <div class="field">
    <%= f.label 'Geschlossen?' %><br />
    <%= f.select :closed, [['Ja', true], ['Nein', false]], :default => false %>
  </div>
  <div class="actions">
    <%= f.submit 'Projekt anlegen oder aktualisieren' %>
  </div>
<% end %>
