<h1>Übersicht der Projekte</h1>

<table id="project" class="display">
  <thead>
  <tr>
    <th>Name</th>
    <th>Projektabschlussdatum</th>
    <th>Geschlossen?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.deadline %></td>
        <td><%= project.closed %></td>
        <td><%= link_to 'Anzeigen', project %></td>
        <td><%= link_to 'Ändern', edit_project_path(project) %></td>
        <td><%= link_to 'Löschen', project, method: :delete, data: { confirm: 'Sind sie sicher?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= button_to 'Neues Projekt anlegen', new_project_path, :class => "button", :method => :get %>
<%= button_to 'Zurück zur Projektplanung', rcpsp_start_path, :class => "button", :method => :get %>