<% provide(:title, 'Übersicht der Vorgangsrelationen') %>
<h1>Übersicht der Vorgangsrelationen</h1>

<div class="center">
<th><%= link_to "Graph anzeigen", procedure_procedure_graph_path, class: "btn btn-info btn-large" %></th>
</div>

<br/>

<table id="procedure_periods" class="table table-hover">
  <thead>
  <tr>
    <th>Von Vorgang</th>
    <th>Zu Vorgang</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @procedure_procedures.each do |procedure_procedure| %>
      <tr>
        <td><%= procedure_procedure.prepro.name %></td>
        <td><%= procedure_procedure.sucpro.name %></td>
        <td><%= link_to 'Löschen', procedure_procedure, method: :delete, data: {confirm: 'Sind Sie sicher?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>

<div class="btn-group btn-lg">
<%= link_to 'Neue Relation anlegen', new_procedure_procedure_path, :class => "btn"%>
<%= link_to 'Zurück zur Projektplanung', rcpsp_path, :class => "btn"%>
</div>