<% provide(:title, 'Übersicht der Relationen zwischen den Vorgängen') %>
<h1>Übersicht der Relationen zwischen den Vorgängen</h1>


<table id="procedure_periods" class="table table-hover">
  <thead>
  <tr>
    <th>Von Vorgang</th>
    <th>Zu Vorgang</th>   
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @procedure_procedures.each do |procedure_procedure| %>
      <tr>
        <td><%= procedure_procedure.prepro.name %></td>
        <td><%= procedure_procedure.sucpro.name %></td>
        <td><%= link_to 'Anzeigen', procedure_procedure %></td>
        <td><%= link_to 'Ändern', edit_procedure_procedure_path(procedure_procedure) %></td>
        <td><%= link_to 'Löschen', procedure_procedure, method: :delete, data: {confirm: 'Sind Sie sicher?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>

<div class="btn-group btn-lg">
<%= link_to 'Neue Relation anlegen', new_procedure_procedure_path, :class => "btn"%>
<%= link_to 'Zurück zur Projektplanung', rcpsp_path, :class => "btn"%>
</div>

<% require 'rgl/adjacency' %>
<% require 'rgl/topsort' %>
<% elements = [] %>
<% @procedure_procedures.each do |pro_pro|
  elements.push(pro_pro.prepro_id, pro_pro.sucpro_id)
end %>
<%= dg=RGL::DirectedAdjacencyGraph[@procedure_procedures.map { |y|
  y.prepro_id y.sucpro_id } ] %>
<br/>

<%= elements %>
<%= dg.acyclic? %>





<!--<= @procedure_procedures.map { |y|-->
  <!--y.prepro.id-->
  <!--y.sucpro.id } %>-->


<!--< @procedure_procedures.each do |pro_pro|-->
  <!--elements.push(pro_pro.prepro_id,pro_pro.sucpro_id)-->
<!--end %>-->
