<% provide(:title, 'Übersicht der Relationen zwischen den Vorgängen') %>
<h1>Übersicht der Relationen zwischen den Vorgängen</h1>
<table id="procedure_periods" class="table table-hover">
  <thead>
  <tr>
    <th>Von Vorgang</th>
    <th>Zu Vorgang</th>   
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @procedure_procedures.each do |procedure_procedure| %>
      <tr>
        <td><%= procedure_procedure.prepro.name %></td>
        <td><%= procedure_procedure.sucpro.name %></td>
        <td><%= link_to 'Anzeigen', procedure_procedure %></td>
        <td><%= link_to 'Ändern', edit_procedure_procedure_path(procedure_procedure) %></td>
        <td><%= link_to 'Löschen', procedure_procedure, method: :delete, data: {confirm: 'Sind Sie sicher?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<%= button_to 'Neue Relation anlegen', new_procedure_procedure_path, :class => "button", :method => :get %>
<%= button_to 'Zurück zur Projektplanung', rcpsp_path, :class => "button", :method => :get %>