<%= form_for(@procedure_procedure) do |f| %>
    <% if @procedure_procedure.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@procedure_procedure.errors.count, "error") %> prohibited this procedure_procedure from being
            saved:</h2>

          <ul>
            <% @procedure_procedure.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label 'Von Vorgang' %><br />
      <%= f.collection_select :procedure, Procedure.all, :id, :name %>
    </div>


    <div class="field">
      <%= f.label 'Zu Vorgang' %><br />
      <%= f.collection_select :procedure, Procedure.all, :id, :name %>
    </div>



    <div class="actions">
      <%= f.submit 'Topologische Reihenfolge anlegen oder aktualisieren' %>
    </div>
<% end %>
