<h1>Übersicht der topologischen Reihenfolge</h1>
<table id="topologics" class="display">
  <thead>
  <tr>
    <th>Von Vorgang</th>
    <th>Zu Vorgang</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>




  <% @topologics.each do |topologic| %>
      <tr>
        <td><%= topologic.prepro.name %></td>
        <td><%= topologic.sucpro.name %></td>
        <td><%= link_to 'Ändern', edit_topologic_path(topologic) %></td>
        <td><%= link_to 'Löschen', topologic, method: :delete, data: {confirm: 'Sind Sie sicher?'} %></td>


      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Neue topologische Reihenfolge anlegen', new_topologic_path %><br>  <br>


<%= link_to 'Zurück zur Projektplanung', rcpsp_start_path %>

