<!--<p id="notice"><%= notice %></p> -->




<p>
  <b>Von Vorgang:</b>
  <%= @topologic.prepro.name %>
</p>


<p>
  <b>Zu Vorgang:</b>
  <%= @topologic.sucpro.name %>
</p>



<%= link_to 'Ändern', edit_topologic_path(@topologic) %> |
<%= link_to 'Zurück', topologics_path %>
