<!--<p id="notice"><%= notice %></p> -->




<p>
  <b>Von Vorgang:</b>
  <%= @procedure_procedure.procedure.name %>
</p>


<p>
  <b>Zu Vorgang:</b>
  <%= @procedure_procedure.procedure.name %>
</p>



<%= link_to 'Ändern', edit_topologic_path(@procedure_procedure) %> |
<%= link_to 'Zurück', topologics_path %>
