<h1>Übersicht der Ressourcen</h1>

<table id="resources" class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Kosten</th>
    <th>Zusatzkostensatz</th>
    <th>Aktuelle Gesamtkapazität</th>
    <th>Zusätzliche Einheiten</th>
    <th>Summe Zusatzkosten</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.name %></td>
    <td><%= resource.cost %></td>
    <td><%= resource.ocr %></td>
    <td><%= User.sum(:capacity, :conditions => {:resource_id => resource}) %></td>
    <td><%= resource.oce %></td>
    <td><%= resource.ocr * resource.oce %></td>
    <td><%= link_to 'Anzeigen', resource %></td>
    <% if signed_in? && current_user.admin? %>
    <td><%= link_to 'Ändern', edit_resource_path(resource) %></td>
    <td><%= link_to 'Löschen', resource, method: :delete, data: { confirm: 'Sind sie sicher?' } %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>

<br />

<% if signed_in? && current_user.admin? %>
<%= button_to 'Neue Ressource anlegen', new_resource_path, :class => "button", :method => :get %>
    <% end %>
<%= button_to 'Zurück zur Projektplanung', rcpsp_path, :class => "button", :method => :get %>

