<h1>Ressource</h1>

<p>
  <b>Name:</b>
  <%= @resource.name %>
</p>

<p>
  <b>Kosten je Kapazität:</b>
  <%= @resource.cost %>
</p>

<p>
  <b>Zusatzkosten je Kapazität:</b>
  <%= @resource.ocr %>
</p>

<p>
  <b>Aktuelle Gesamkapazität:</b>
  <%= User.sum(:capacity, :conditions => {:resource_id => @resource}) %>
</p>

<% if current_user.admin? %>
<%= button_to 'Ändern', edit_resource_path(@resource), :class => "button", :method => :get %>
    <% end %>
<%= button_to 'Zurück', resources_path, :class => "button", :method => :get %>
