<%= form_for(@procedure) do |f| %>
  <% if @procedure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@procedure.errors.count, "error") %> prohibited this procedure from being saved:</h2>

      <ul>
      <% @procedure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label 'Projektzugehörigkeit' %><br />
      <%= f.collection_select :project_id, Project.all, :id, :name %>
    </div>
  <div class="field">
    <%= f.label 'Kapazitätsbedarf' %><br />
    <%= f.text_field :kapabe %>
  </div>
  <div class="field">
    <%= f.label 'Vorgangsdauer' %><br />
    <%= f.text_field :prot %>
  </div>
  <div class="actions">
    <%= f.submit 'Vorgang anlegen oder aktualisieren' %>
  </div>
<% end %>
