<h1>Übersicht der Vorgänge</h1>

<table id="procedures" class="display">
  <thead>
  <tr>
    <th>Name</th>
    <th>Kapazitätsbedarf</th>
    <th>Vorgangsdauer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<% @procedures.each do |procedure| %>
  <tr>
    <td><%= procedure.name %></td>
    <td><%= procedure.kapabe %></td>
    <td><%= procedure.prot %></td>
    <td><%= link_to 'Anzeigen', procedure %></td>
    <td><%= link_to 'Ändern', edit_procedure_path(procedure) %></td>
    <td><%= link_to 'Löschen', procedure, method: :delete, data: { confirm: 'Sind sie sicher?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= button_to 'Neuer Vorgang anlegen', new_procedure_path, :class => "button", :method => :get %>
<%= button_to 'Zurück zur Projektplanung', rcpsp_start_path, :class => "button", :method => :get %>

