<% provide(:title, 'Übersicht der Vorgänge') %>
<h1>Übersicht der Vorgänge</h1>

<div class="center">
  <th><%= link_to "Graph anzeigen", procedure_procedure_graph_path, class: "btn btn-info btn-large" %></th>
</div>

<br/>

<% if @project.zwt!=nil %>
    Die minimale Projektdauer beträgt <strong><%=  Procedure.maximum("optp") %></strong> Zeiteinheiten. Die Optimierung erfolgte mit einem Datenstand vom <strong><%=  @project.updated_at.strftime("%d.%m.%Y") %>. </strong><br> <br>
<% end %>

<table id="procedures" class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Vorgangs- dauer</th>
    <th>Anzahl Vorgänger</th>
    <th>Anzahl Ressourcen</th>
    <th>FA*</th>
    <th>SA*</th>
    <th>FE*</th>
    <th>SE*</th>
    <th><b>Vorgangs- abschluss</b></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<% @procedures.each do |procedure| %>
  <tr>
    <td><%= procedure.name %></td>
    <td><%= procedure.prot %></td>
    <td><%= procedure.reverse_procedure_procedures.count %></td>
    <td><%= procedure.resources.count %></td>
    <td><%= procedure.fa %></td>
    <td><%= procedure.sa %></td>
    <td><%= procedure.fe %></td>
    <td><%= procedure.se %></td>
    <td><b><%= procedure.optp %></b></td>
    <td><%= link_to 'Anzeigen', procedure %></td>
    <td><%= link_to 'Ändern', edit_procedure_path(procedure) %></td>
    <td><%= link_to 'Löschen', procedure, method: :delete, data: { confirm: 'Sind sie sicher?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<div class="btn-group btn-lg">
<%= link_to 'Neuer Vorgang anlegen', new_procedure_path, :class => "btn" %>
<%= link_to 'Zurück zur Projektplanung', rcpsp_path, :class => "btn" %>
</div>

<br />

<thead>
*FA=frühester Anfangszeitpunkt, SA=spätester Anfangszeitpunkt, FE=frühester Endzeitpunkt und SE=spätester Endzeitpunkt in Tagen nach Start des Projekts.
</thead>

<br/>
