<% provide(:title, 'Übersicht der Vorgänge') %>
<h1>Übersicht der Vorgänge</h1>

<% if @project.zwt!=nil %>
    Die minimale Projektdauer beträgt <strong><%=  @project.zwt %></strong> Zeiteinheiten. <br> <br>
<% end %>




<table id="procedures" class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Vorgangsdauer</th>
    <th>FA*</th>
    <th>SA*</th>
    <th>FE*</th>
    <th>SE*</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<% @procedures.each do |procedure| %>
  <tr>
    <td><%= procedure.name %></td>
    <td><%= procedure.prot %></td>
    <td><%= procedure.fa %></td>
    <td><%= procedure.sa %></td>
    <td><%= procedure.fe %></td>
    <td><%= procedure.se %></td>
    <td><%= link_to 'Anzeigen', procedure %></td>
    <td><%= link_to 'Ändern', edit_procedure_path(procedure) %></td>
    <td><%= link_to 'Löschen', procedure, method: :delete, data: { confirm: 'Sind sie sicher?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />


<div class="btn-group btn-lg">
<%= link_to 'Neuer Vorgang anlegen', new_procedure_path, :class => "btn" %>
<%= link_to 'Zurück zur Projektplanung', rcpsp_path, :class => "btn" %>
</div>

<br />

<thead>
*FA=frühester Anfangszeitpunkt, SA=spätester Anfangszeitpunkt, FE=frühester Endzeitpunkt, SE=spätester Endzeitpunkt
</thead>

<br/>

<!--<= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>-->
<!--<= timeline [ ["Washington", "1789-04-29", "1797-03-03"], ["Adams", "1797-03-03", "1801-03-03"], ["Jefferson", "1801-03-03", "1809-03-03"] ] %>-->
<!--<= @procedures.map{|p| "#{p.name} #{p.fa.day.from_now} #{p.fe.day.from_now}"} %>-->
<!--"<= Time.now.strftime("%Y-%d-%m").to_s %>\"-->
