<!--<p id="notice"><%= notice %></p> -->


<p>
  <b>Name:</b>
  <%= best_in_place @site, :name %>
</p>

<p>
  <b>Code:</b>
  <%= @site.codename %>
</p>


<%= link_to 'Ändern', edit_site_path(@site) %> |
<%= link_to 'Zurück', sites_path %>
