<!--<p id="notice"><%= notice %></p> -->


<p>
  <b>Vorgang:</b>
  <%= @procedure_user.procedure.name %>
</p>


<p>
  <b>Mitarbeiter:</b>
  <%= @procedure_user.user.name %>
</p>



<%= link_to 'Ändern', edit_procedure_user_path(@procedure_user) %> |
<%= link_to 'Zurück', procedure_users_path %>
