<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Operations Management 1.0", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path, id: "main_links" %></li>
          <li><%= link_to "Hilfe", help_path, id: "main_links" %></li>

          <% if signed_in? %>
              <li><%= link_to "Nutzer", users_path, id: "main_links" %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Apps <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Transportplanung", transport_start_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "MLCLSP", mlclsp_start_path %></li>
                </ul>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Konto <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profil", current_user %></li>
                  <li><%= link_to "Einstellungen", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Logout", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Login", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>